<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDpgjV8Sz0g4fkfTlLsIfXoj_EVItsLsRg</string>
	<key>GCM_SENDER_ID</key>
	<string>789736284975</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.apple.FirePerfect</string>
	<key>PROJECT_ID</key>
	<string>fire-perfect-c31c2</string>
	<key>STORAGE_BUCKET</key>
	<string>fire-perfect-c31c2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:789736284975:ios:af6bf328e641b3b86677da</string>
</dict>
</plist>